* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(red, green, blue); */
}
#header {
  display: flex;
  height: 10vh;
  flex: 1;
  gap: 10px;
}
.user_input {
  min-height: 3vh;
  width: 20%;
  border-radius: 10px;
  border: 1px solid grey;
}
.container {
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
  width: 100vw;
  border: 3px solid gray;
}

.grid_div_default {
  flex: 1 0 calc((100%) / 4);
  /* border: 1px solid black; */
  transition: background-color 0.2s ease;
}
.new_grid {
  /* border: 1px solid black; */
  transition: background-color 0.2s ease;
}
